body {
  background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 30px;
  object-fit: cover;
  /* background-repeat: no-repeat; */
  font-style: Helvetica;
  text-align: center;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-style: Helvetica;
}

.delete {
  float: right;
  background-color: red;
  color: white;
  border-color: red;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 24px;
}

li {
  text-align: left;
  background-color: ghostwhite;
  margin-bottom: 2%;
  font-weight: 600;
  font-family: 'Great Vibes', cursive;
  border-top-right-radius: 10px;
  list-style-type: none;
  border: 2px solid yellowgreen;
  overflow-wrap: break-word;
}

input {
  font-size: 20px;
  font-family: 'IM Fell English SC', serif;
  border-color: yellowgreen;
}

.submit {
  font-size: 20px;
  background-color: yellowgreen;
  border-color: yellowgreen;
  font-family: 'IM Fell English SC', serif;
  margin-left: 3px;
}
p{
  display: initial;
}